* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  position: absolute;
  z-index: 10;
  left: 38%;
}
h1 {
  font-size: 4rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 1rem;
  color: #404b69;
  position: absolute;
  left: 43%;
  bottom: 2%;
}

video {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  transform: scale(-1, 1);
  position: absolute;
}

.buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 7rem;
}

.buttons h3 {
  font-size: 50px;
  padding-bottom: 1rem;
}

h3 {
  color: red;
  width: 100px;
  height: 100px;
  border: 10px solid #404b69;
  border-radius: 10px;
  background-color: #fff;
}

#crash {
  background-image: url(/images/crash.png);
  background-size: cover;
}

#snare {
  background-image: url(/images/snare.png);
  background-size: cover;
}
#tom1 {
  background-image: url(/images/tom1.png);
  background-size: cover;
}
#tom4 {
  background-image: url(/images/tom4.png);
  background-size: cover;
}

#footer {
  position: absolute;
}
